    <!-- Footer -->
    <footer class="footer" id="footer">
        <div class="footer-logo">
            <img src="../../public/images/g2.png" alt="XSTream Cable" class="footer-logo-image">
        </div>
        <div class="social-icons">
            <a href="#" class="social-icon">Privacy Policy  &nbsp;|</a>
            <a href="#" class="social-icon">Terms of Services &nbsp;|</a>
            <a href="#" class="social-icon">Cookies Settings</a>
           
        </div>
        <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
           
        </div>
    </footer>
     <div class="footer2">
        <p>Powered by Videoport IPTV LLC</p>
    </div>