
    <!-- Video Section -->
    <section class="video-section">
        <!-- Video Background -->
        <div class="video-hero-background">
            <video autoplay loop muted playsinline>
                <source src="../../public/videos/XSTREAM-INTRO-transcode-transcode.mp4">
                <source src="../../public/videos/XSTREAM-INTRO-transcode-transcode.webm">
                Your browser does not support the video tag.
            </video>
        </div>

        <!-- Top Content -->
        <div class="top-content">
            <h1 class="home-page-title"><span style="color: #ffa039;">Introduces</span> <br> Traditional Cable -<br><span style="color: #ffa039;"> Streamed </span>Directly <br>to you</h1>
        </div>

        <!-- Bottom Content -->
        <div class="bottom-content">
            <h2 class="main-subtitles">Unlimited TV <span style="color: #ffa039;">Entertainment</span> <br><span style="color: #ffa039;">Seamlessly</span> Delivered</h2>
        </div>
    </section>
    
    

    <!-- Features Section -->
    
    <section class="features" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900">
        
        <div class="main-feature" >
            <div class="heading-container" data-aos="fade-down" data-aos-delay="200" data-aos-duration="800">
                <h1 class="platform-title"><span style="color: #ffa039;">200+ </span>Channels Streaming the Shows You Love​</h1>
                <h6 class="subheading-title">Advanced Technology that Delivers Crystal Clear​ Quality <br> Wherever & Whenever You Want​</h6>
            </div>
            
          <div class="slider">
            <div class="slide-track">
                <!-- <div class="slide">
                    <img src="images/channel/cartoon_network.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/comedy_central.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/disney.jpeg" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/cartoon_network.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/comedy_central.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/disney.jpeg" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/cartoon_network.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/comedy_central.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/disney.jpeg" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/cartoon_network.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/comedy_central.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/disney.jpeg" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/cartoon_network.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/comedy_central.png" alt="" />
                </div>
                <div class="slide">
                    <img src="images/channel/disney.jpeg" alt="" />
                </div> -->
            </div>
        </div>
 
        
            
        
        

                

            
            
            
    
        </div>
        
        </div>
        
    </section>
    
    <section class="features2">
        <div class="main-feature2">
            <div class="heading-container" data-aos="fade-down" data-aos-delay="200" data-aos-duration="800">
                <h1 class="platform-title">Ultimate Entertainment<span style="color: #ffa039;"> TV Viewing</span> Experience​</h1>
                
                <h6 class="subheading-title">Our in-home streaming technology delivers lightning-fast speeds, crystal-clear pictures, 
                    and reliable service so you can enjoy the best and vast selection of channels can provide.​</h6>
                    <a href="/cable" class="feature-card-btn">Explore Cable</a>
                <a href="#home" class="button-secondary">Home</a>
                </div>
                
           
                
            <div class="sub-cards" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800" >
                <div class="sub-cards">
                    <div class="sub-cards-item_link">
                      <div class="sub-cards-item_bg"></div>
              
                      <div class="sub-cards-item_title">
                        Top Networks and Channels
                      </div>
                      <p class="sub-cards-p">We offer all the local, major broadcast and cable networks. 
                        We’re always expanding our library of content to 
                        give you the most comprehensive selection of shows and movies possible.​</p>
                      <a href="/cable" class="feature-card-btn">Know More</a>
                    </div>
                    
                </div>
                <div class="sub-cards">
                    <div class="sub-cards-item_link">
                      <div class="sub-cards-item_bg"></div>
              
                      <div class="sub-cards-item_title">
                        Cutting Edge Tech
                      </div>
                      <p class="sub-cards-p">Lightning-fast speeds, crystal-clear picture quality, and reliable service. Plus, the best in cloud delivery
                         & storage lets you enjoy and record your favorite shows and movies without delay.</p>
                      <a href="/cable" class="feature-card-btn">Know more</a>
                    </div>
                </div>
                <div class="sub-cards">
                    <div class="sub-cards-item_link">
                      <div class="sub-cards-item_bg"></div>
              
                      <div class="sub-cards-item_title">
                        No Boxes, Cables, & Wires
                      </div>
                      <p class="sub-cards-p">Say goodbye to tangled cables, bulky boxes, and messy wires. Embrace a cleaner, more organized space with our innovative wireless solutions. Enjoy seamless connectivity and a clutter-free environment for a 
                        more aesthetically pleasing and efficient setup.​</p>
                      <a href="/cable" class="feature-card-btn">Know more</a>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
    <section class="service"  data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
        <div class="heading-container" >
            <h1 class="platform-title">XSTREAM <span style="color: #FFAB00;">INTERNET</span> & <span style="color: #FFC200;">PHONE</span> PLATFORM</h1></div>
        <div class="relative-feature">
            
                <div class="card card-1">
                    <div class="sub-cards-item_bg1"></div>
                    <div class="card__icon"><i class="fas fa-wifi"></i></div>
                    
                    <h2 class="card__title">Ultra high-speed internet up to 100Mbps.</h2>
                    
                    <p class="card__apply">
                        Nothing beats optical fiber technology in providing fast, reliable, and affordable access to the internet. We offer plans to fit almost any budget. <br><br>
                      <a class="card__link" href="/internet">Internet Packages <i class="fas fa-arrow-right"></i></a>
                    </p>
                </div>
            
           
                <div class="card card-2">
                    <div class="sub-cards-item_bg1"></div>
                    <div class="card__icon"><i class="fas fa-phone"></i></div>
                    <h2 class="card__title">Crisp. Crystal-Clear Calls Anywhere.</h2>
                    <p class="card__apply">
                        Voice over internet protocol (VOIP) has rapidly become the leading technology for landline telephones. Nothing has been proven better in call quality and reliability
                        <br><br>
                      <a class="card__link" href="/phone">Get Unlimited Calls <i class="fas fa-arrow-right"></i></a>
                    </p>
                </div>
            
        </div>
    </section>
    
    
