

    <!-- Features Section -->
    
    <section class="features" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900">
        
        <div class="main-feature" >
            <div class="heading-container">
                <h1>Seamless Calls, <span style="color: #FFC200;"> No Matter the Distance</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            
            
              
                <div class="gradient-cards">
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fa-solid fa-trophy"></i>
                                    <p class="card-title">Perfect Sound, Clear Calls on the Go</p>
                                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fas fa-phone"></i>
                                    <p class="card-title">Stay Connected to All Your Favorites</p>
                                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="container-card bg-orange-box">
                                    <i class="fa-solid fa-piggy-bank"></i>
                                    <p class="card-title">Seamless Calls. Better Savings</p>
                                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                 
                </div>
              
            
               
            
    
        </div>
        
        
    </section>
    


    

  